@model HotelManagementSystem.Data.Rooms.Room

@{
    ViewData["Sstem"] = "Room Management System";
    ViewData["Controller"] = "Room";
    ViewData["Title"] = "View - Room Management System";
}

<h1>View</h1>

<div class="alert-success">@ViewBag.SuccessMsg</div>
<div class="alert-danger">@ViewBag.ErrorMsg</div>

<form asp-controller="Room" asp-action="View" method="post">
            <div class="form-group">
                <label name="number" class="control-label"></label>
                <input type="number" name="number" class="form-control" value="@{
                    if(Model != null)
                        @Model.RoomNumber
}
" />
                <span asp-validation-for="@Model.RoomNumber" class="text-danger"></span>
            </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

@if(Model != null){
        <div>
            <h4>Room</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RoomNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RoomNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RoomFloor)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RoomFloor)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RoomType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RoomType)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaxPersonAllowed)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaxPersonAllowed)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>
        <div>
            @Html.ActionLink("Edit", "UpdateCheck", new { number = Model.RoomNumber }) |  
        @Html.ActionLink("Delete", "Delete", new { number = Model.RoomNumber }) |  
            
        </div>

}
